<!DOCTYPE html>
<html>
  <head>
    <title>后台管理</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <h1>首页</h1>
    <ul class="nav navbar-nav">
      <li>
        <a href="/">后台管理</a>
      </li>
      <li>
        <a href="<%= users_path %>">用户</a>
      </li>

        <% if  logged_in? %>
          <li><%= link_to "#{current_user.username}退出", session_path(session[:user_id]), method: "delete" %></li>
        <% else %>
          <li><%= link_to "登录", new_session_path %></li>
        <% end %>
    </ul>

    <div>
      <% if flash[:notice]%>
        <div class="alert alert-info"><%= flash[:notice] %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
